<div class="content-wrapper">
    <main class="content content_with-borders content_page">
        <div class="content__about about">
            <style>
                .about__rules {
                    max-width: 80vmin;
                    font-size: 4vmin;
                    line-height: 1.5;
                }

                .about__rules i {
                    display: block;
                }

                .about__credentials {
                    margin-top: 2vmin;
                    margin-bottom: 2vmin;
                    text-align: center;
                    font-size: 5vmin;
                }

                .team {
                    margin: 1vmin;
                    margin-top: 4vmin;
                    display: grid;
                    font-size: 3vmin;
                    grid-template-columns: 1fr 1fr;
                }

                .team__name, .team__desc {
                    padding: 1vmin;
                    text-align: center;
                }

                .team a {
                    color: #305A9D;
                    display: block;
                    transition: transform 0.2s;
                    transition-timing-function: ease;

                }

                .team a:hover {
                    transform: scale(1.1);
                }

            </style>

            <div class="team">
                <div class="team__name"><a href="https://github.com/PDmitryA">Dmitry Poponkin</a></div>
                <div class="team__desc">Best mentor</div>
                <div class="team__name"><a href="https://github.com/Silvman">Sergey Lomachev</a></div>
                <div class="team__desc">Fullstack</div>
                <div class="team__name"><a href="https://github.com/Falcon22">Vlad Sokolov</a></div>
                <div class="team__desc">Fullstack</div>
                <div class="team__name"><a href="https://github.com/mitrkos">Konstantin Mitrakov</a></div>
                <div class="team__desc">Fullstack</div>
            </div>
            <!--
                    <p class="about__rules">

                        <i>You are able to draw a line.</i>
                        <i>The line would be move by repeating itself and interact with circles: it evaporates colorful circles but black circles evaporate it.</i>
                        <i>Your task is to evaporate all colorful circles by using only one line.</i>
                    </p>-->

            <p class="about__credentials">STACKTIVITY</p>
        </div>
    </main>
</div>