<main class="content content_page">
    <div class="content__about about">
        <style>
            .about__rules {
                max-width: 100vmin;
                font-size: 4vmin;
                line-height: 1.5;
            }

            .about__rules i {
                display: block;
            }

            .about__credentials{
                padding-top: 2vmin;
                text-align: right;
                font-size: 5vmin;
            }

        </style>


        <p class="about__rules">
            <i>You are able to draw a line.</i>
            <i>The line would be move by repeating itself and interact with circles: it evaporates colorful circles but black circles evaporate it.</i>
            <i>Your task is to evaporate all colorful circles by using only one line.</i>
        </p>

        <p class="about__credentials">STACKTIVITY</p>
    </div>
</main>