<div class="messagesunion__messageblock messageblock">

    <div class="messageblock__author author">
        <div class="autor__unionauthordata unionauthordata">
            <div class="unionauthordata__nickname">
                {{nickname}}
            </div>
            <div class="unionauthordata__circle">
            </div>
        </div>
    </div>

    <div class="messageblock__messagedata messagedata">
        <div class="messagedata__dataunion dataunion">
            <div class="dataunion__messagetext">
                {{message}}
            </div>
            <hr>
            <div class="dataunion__messagedate">
                {{date}}
            </div>
        </div>
    </div>
</div>