<style>
    body {
        background: #fff;
    }
</style>

<div class="game-wrapper">
    <div class="game-header">
        {{> GameHeader}}
    </div>

    <div class="center-wrapper">
        <div class="game-loading">
            Waiting another player...
            <img src="/resources/loading.gif" />
        </div>
    </div>
</div>