<header class="header">
    <div class="header__logo">
    </div>
    <span class="header__name">Blep
        {{#if desc}}
            <span class="header__desc">{{desc}}</span>
        {{/if}}
    </span>
</header>