<main class="content">
    <div class="leaderboard">
        <table>
            <thead>
            <tr>
                <th class="username">Username</th>
                <th class="score">Scores</th>
            </tr>
            </thead>
            <tbody>
                {{> LeaderboardList}}
            </tbody>
        </table>

        <ul class="pagination">
            <li><a href="#" id="prev_page_link"><-</a></li>
            <li><a href="#" id="next_page_link">-></a></li>
        </ul>
    </div>
</main>