<main class="content content_with-borders">
    <div class="leaderboard">
        <div class="leaderboard__header">Username</div>
        <div class="leaderboard__header">Scores</div>
        <div class="leaderboard__body">
            {{> LeaderboardList}}
        </div>
    </div>

    <ul class="leaderboard__pagination">
        <li class="leaderboard__pagination__button"><a href="#" id="prev_page_link"><-</a></li>
        <li class="leaderboard__pagination__button"><a href="#" id="next_page_link">-></a></li>
    </ul>
</main>