<main class="content">
    <ul class="main-menu">
        <li><a href="/single" data-href="/single">
            <div class="circle circle_size_tiny circle_menu circle_color_blue inline"></div>
            Single</a>

        </li>
        <li><a href="/mult" data-href="/mult" class="main_menu__link">
            <div class="circle circle_size_tiny circle_menu circle_color_red circle_second"></div>
            <div class="circle circle_size_tiny circle_menu circle_color_orange"></div>
            Multiplayer</a>

        </li>
        <li class="with_padding"><a href="#" data-href="/leaderboard">Leaderboard</a></li>
    </ul>
</main>

