<main class="content">
    <ul class="main-menu">
        <li class="main-menu__element"><a href="/single" data-href="/single">
            <div class="circle circle_size_tiny main-menu__circle circle_color_blue inline"></div>
            Single</a>

        </li>
        <li class="main-menu__element"><a href="/mult" data-href="/mult" class="main_menu__link">
            <div class="circle circle_size_tiny main-menu__circle circle_color_red main-menu__circle_second"></div>
            <div class="circle circle_size_tiny main-menu__circle circle_color_orange"></div>
            Multiplayer</a>

        </li>
        <li class="main-menu__element_with-padding"><a href="#" data-href="/leaderboard">Leaderboard</a></li>
    </ul>
</main>

