<div class="content-wrapper">
<main class="content">
    <div class="main-menu">
        <a href="/single" data-href="/single" class="main-menu__menu-link">
            <div class="menu-link__pic">
                <div class="circle circle_size_tiny main-menu__circle circle_color_blue inline"></div>
            </div>
            <div class="menu-link__desc">Single</div>
        </a>

        <a href="/mult" data-href="/mult" class="main-menu__menu-link js-multiplayer-link">
            <div class="menu-link__pic">
                <div class="circle circle_size_tiny main-menu__circle circle_color_red"></div>
                <div class="circle circle_size_tiny main-menu__circle circle_color_orange"></div>
            </div>
            <div class="menu-link__desc">Multiplayer</div>
        </a>

        <a href="/leaderboard" data-href="/leaderboard" class="main-menu__menu-link">
            <div class="menu-link__desc menu-link__desc_leaderboard">Leaderboard</div>
        </a>
    </div>
</main>
</div>