<main class="index_content">
    <ul class="main_menu">
        <li><a href="/single" data-href="/single">
            <div class="circles_place">
                <div class="circle tiny blue inline"></div>
            </div>
            Single</a>

        </li>
        <li><a href="/mult" data-href="/mult">
            <div class="circles_place">
                <div class="circle tiny red second"></div>
                <div class="circle tiny orange"></div>
            </div>
            Multiplayer</a>

        </li>
        <li class="with_padding"><a href="#" data-href="/leaderboard">Leaderboard</a></li>
    </ul>
</main>

