<form class="user-form" method="post">
    <div class="user-form__error user-form__error_main main hidden">{{commonError}}</div>

    <h1 class="score">Your score: {{score}}</h1>

    <div class="user-form__field user-form__field_with-label">
        <label for="emailInput">E-mail:</label>
        <input class="user-form__input-block" id="emailInput" name="email" type="email" value="{{email}}"/>
        <span class="user-form__error error hidden">This is not an e-mail</span>
    </div>

    <div class="user-form__field user-form__field_with-label">
        <label for="passwordInput">Password:</label>
        <input class="user-form__input-block" id="passwordInput" name="password" type="password" value="******"/>
        <span class="user-form__error error hidden">Password must be bigger than 6 and less than 36 symbols</span>
    </div>

<!--    <div class="field">
        <label for="avatarInput">Avatar:</label>
        {{#if avatar}}<img src="{{avatar}}" class="profile_avatar">{{/if}}
        <input class="profile_input hidden" id="avatarInput" name="file" type="file" value="******"/>
        <span class="error hidden">Your avatar is very big!</span>
    </div>-->

    <button class="user-form__button">Update</button>
</form>