<a class="talkboard__room room {{#if is_private}}room_private{{else}}room_public{{/if}}" data-cid="{{cid}}">
    <div class="room__icon">
        {{#if is_private}}&{{else}}#{{/if}}
    </div>

    <div class="room__name">
        {{name}}
    </div>

    <div class="room__message-counter hidden">

    </div>
</a>