<nav class="navigation">
    {{#links}}
        <a href="{{href}}" class="circle {{#each class}}{{this}} {{/each}}" id="{{id}}">
            <span>{{content}}</span>
        </a>
    {{/links}}
</nav>