<header class="{{#if isPage}}page_header{{^}}index_header{{/if}}">
    <div class="logo">
            <span class="name">
				Blep
			</span>
        {{#if desc}}
            <span class="desc">
                {{desc}}
            </span>
        {{/if}}
    </div>
</header>