<nav class="navigation">
    {{#links}}
        <a href="{{href}}" data-href="{{href}}" class="circle {{#each class}}{{this}} {{/each}}">
            <span>{{content}}</span>
        </a>
    {{/links}}
</nav>