/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}/* ---- style ---- */

:root {
    --main-width-content: 70vmin;
}

body {
    background: #fff;
    font-family: 'Quantico', sans-serif;
}

/* ~~~~ Header block ~~~~ */
.header {
    width: var(--main-width-content);
    height: 40vmin;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    font-size: 25vh;
}

.header_page {
    height: 32vmin;
    font-size: 22vmin;
}

.header__logo {
    width: var(--main-width-content);
    height: var(--main-width-content);
    border-radius: 35vmin;
    background: #1a1a1a;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
}

.header__name {
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.header__desc {
    color: #fff;
    font-size: 5vmin;
    top: 20vmin;
    position: absolute;
    left: 3%;
}
/* ~~~~ Header end ~~~~ */


/* ~~~~ Navigation block ~~~~ */
.navigation {
    position: absolute;
    left: 50%;
}

.circle {
    color: #fff;
    font-size: 4.5vmin;
    text-align: center;
    position: absolute;
}

.circle_center {
    left: 50%;
    transform: translate(-50%,-50%);
}

.circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle_size_small {
    width: 10vmin;
    height: 10vmin;
    font-size: 2.5vmin;
    border-radius: 5vmin;
}

.circle_size_tiny {
    width: 6vmin;
    height: 6vmin;
    border-radius: 3vmin;
}

.circle_size_medium {
    width: 16vmin;
    height: 16vmin;
    border-radius: 8vmin;
}

.circle_size_medium-small {
    width: 14vmin;
    height: 14vmin;
    border-radius: 7vmin;
}

.circle_size_big {
    width: 20vmin;
    height: 20vmin;
    font-size: 4vmin;
    border-radius: 10vmin;
}

/*.circle.big .avatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}*/

.circle_color_red      { background: #CA2424 }
.circle_color_blue     { background: #275CD9 }
.circle_color_orange   { background: #FF8408 }
.circle_color_sea-blue { background: #169DA4 }
.circle_color_green    { background: #43AC4C }
.circle_color_grey     { background: #aaaaaa }

.about_link {
    top: -8vmin;
    left: -37vmin;
}

.signup_link {
    left: 40vmin;
    top: -8vmin;
}

.profile_link {
    left: 40vmin;
    top: -8vmin;
}

.profile_link.page {
    top: 170px;
    left: 290px;
}

.profile_link.profile {
    left: 40vmin;
    top: -8vmin;
}

.login_link, .logout_link {
    top: 1vmin;
    left: 22vmin;
}

.login_link.page, .logout_link.page {
    top: -6vmin;
    left: 32vmin;
}

.return_link {
    top: 0;
    left: 23vmin;
}
/*

.content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.content_index {
    top: 480px;
}

.content_page {
    top: 330px;
}

.profile_content {
    position: absolute;
    top: 530px;
    left: 50%;
    transform: translate(-50%, 0);
}
*/


/* ~~~~~ Main menu ~~~~~~ */

.content {
    left: 50%;
    position: relative;
    display: inline-block;
    transform: translate(-50%,0);
    top: 10vmin;
}

.circle_menu {
    left: -8vmin;
    transform: translate(0, 15%);
}

.circle_second {
    left: -15vmin;
}

.main-menu {
    font-size: 8vmin;
    text-align: left;
    position: relative;
}

.main_menu__link {
    position: relative;
}

.main-menu li {
    margin: 20px 0;
}

.main-menu .with_padding {
    margin-top: 72px;
}

.user_form label {
    font-size: 3vmin;
    text-align: center;
}

.user_form {
    border: 0.9vmin #355FA2 solid;
    border-left: 0.3vmin #fff solid;
    border-right: 0.3vmin #fff solid;
    border-radius: 8vmin;
    background: transparent;
    width: var(--main-width-content);
    max-height: 50vh;
    padding: 2vmin;
    padding-left: 4vmin;
    padding-right: 4vmin;
}

#profile_form .field {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.field {
    margin-bottom: 2vmin;
}

.user_form .error {
    font-size: 22px;
    color: #f00;
}

.user_form .field .error {
    font-size: 1.8vmin;
}

.input_block {
    border-radius: 1vmin;
    background: #fff;
    border: none;
    box-shadow: 0 0 5px rgba(30, 30, 30, 0.5) inset;
    padding: 1.3vmin;
    font-size: 2vmin;
    font-family: 'Quantico', sans-serif;
    width: 100%;
}

.profile_input {
    border-radius: 1vmin;
    background: #fff;
    border: none;
    box-shadow: 0 0 5px rgba(30, 30, 30, 0.5) inset;
    padding: 1.3vmin;
    font-size: 2vmin;
    margin-bottom: 3vmin;
    font-family: 'Quantico', sans-serif;
}

.profile_input[readonly] {
    background: transparent;
    box-shadow: none;
    color: #1a1a1a;
}

.error.main {
    width: 100%;
    text-align: center;
    margin: 8px;
}

button.submit {
    background: #305A9D;
    border-bottom: none;
    border-top: none;
    border-left: #293955 solid 1vmin;
    border-right: #293955 solid 1vmin;
    border-radius: 3vmin;
    height: 6vmin;
    width: 16vmin;
    font-family: 'Quantico', sans-serif;
    font-size: 3vmin;
    color: #fff;
    position: relative;

    left: 50%;
    transform: translate(-50%, 0);
}



.avatar {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.clear { clear: both; }

.hidden {
    display: none;
}

.score {
    font-size: 4vmin;
    text-align: center;
    padding: 2vmin;
}

.profile_avatar {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px rgba(30, 30, 30, 0.5   );
    border-radius: 100px;
    display: block;
    margin-top: 20px;
}

.pagination {
    text-align: center;
}

.pagination li {
    display: inline;
}

#infoblock {
    width: 300px;
    position: fixed;
    right:0;
    top:0;
    opacity: 0.8;
    padding-right: 10px;
}

#infoblock .info {
    margin-top: 10px;
    min-height: 50px;
    border: 2px solid #20a4d6;
    background: #36ccd4;
    border-radius: 10px;
    padding: 8px;
    color:#000
}

#infoblock .info.warn {
    border-color: #f5c411;
    background: #fff45a;
}

#infoblock .info.error {
    border-color: #CA2424;
    background: red;
}




.leaderboard {
    border: 0.9vmin #355FA2 solid;
    border-left: 0.3vmin #fff solid;
    border-right: 0.3vmin #fff solid;
    border-radius: 8vmin;
    background: transparent;
    width: var(--main-width-content);
    max-height: 50vh;
    padding: 2vmin;
}

.leaderboard table {
    width: 100%;
}

.leaderboard th {
    font-weight: bold;
    text-align: left;
    background: #ddd;
    padding: 10px;
}

.leaderboard th.username {
    width: 30%;
}

.leaderboard th.score {
    width: 70%;

}

.leaderboard td {
    background: #eee;
    padding: 8px;
}

