/* ---- style ---- */
@import "reset.css";

@import "../js/views/templates/css/Nav.css";
@import "../js/views/templates/css/Leaderboard.css";

:root {
    --main-width-content: 70vmin;
}

body {
    background: #fff;
    font-family: 'Quantico', sans-serif;
}

/* ~~~~ Header block ~~~~ */
.header {
    width: var(--main-width-content);
    height: 40vmin;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    font-size: 25vh;
}

.header_page {
    height: 32vmin;
    font-size: 22vmin;
}

.header__logo {
    width: var(--main-width-content);
    height: var(--main-width-content);
    border-radius: 35vmin;
    background: #1a1a1a;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
}

.header__name {
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.header__desc {
    color: #fff;
    font-size: 5vmin;
    top: 20vmin;
    position: absolute;
    left: 3%;
}
/* ~~~~ Header end ~~~~ */

/* ~~~~ Circle ~~~~ */
.circle {
    color: #fff;
    font-size: 4.5vmin;
    text-align: center;
    position: absolute;
}

.circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle_size_small {
    width: 10vmin;
    height: 10vmin;
    font-size: 2.5vmin;
    border-radius: 5vmin;
}

.circle_size_tiny {
    width: 6vmin;
    height: 6vmin;
    border-radius: 3vmin;
}

.circle_size_medium {
    width: 16vmin;
    height: 16vmin;
    border-radius: 8vmin;
}

.circle_size_medium-small {
    width: 14vmin;
    height: 14vmin;
    border-radius: 7vmin;
}

.circle_size_big {
    width: 20vmin;
    height: 20vmin;
    font-size: 4vmin;
    border-radius: 10vmin;
}

.circle_color_red      { background: #CA2424 }
.circle_color_blue     { background: #275CD9 }
.circle_color_orange   { background: #FF8408 }
.circle_color_sea-blue { background: #169DA4 }
.circle_color_green    { background: #43AC4C }
.circle_color_grey     { background: #aaaaaa }
/* ~~~~ End circle ~~~~ */

/* ~~~~ Navigation block ~~~~ */
.navigation {
    position: absolute;
    left: 50%;
}

.navigation__circle {
    left: 50%;
    transform: translate(-50%,-50%);
}


/*.circle.big .avatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}*/

.navigation__circle_position_about { /* about */
    top: -8vmin;
    left: -37vmin;
}

.navigation__circle_position_right-top { /* profile, signup */
    left: 40vmin;
    top: -8vmin;
    /*left: 30vmin;*/
    /*top: -18vmin;*/
}

.navigation__circle_position_right { /* login, logout */
    top: 1vmin;
    left: 22vmin;
}

.navigation__circle_position_right-page { /* login, logout */
    top: -6vmin;
    left: 32vmin;
}

.navigation__circle_position_return {
    top: 0;
    left: 23vmin;
}
/* ~~~~ End navigation ~~~~ */

/* ~~~~ Content ~~~~ */
.content {
    left: 50%;
    position: relative;
    display: inline-block;
    transform: translate(-50%,0);
    top: 10vmin;
}

.content_with-borders {
    border: 0.9vmin #355FA2 solid;
    border-left: 0.3vmin #fff solid;
    border-right: 0.3vmin #fff solid;
    border-radius: 8vmin;
    background: transparent;
    width: var(--main-width-content);
}


/* ~~~~ End Content ~~~~ */

/* ~~~~~ Main menu ~~~~~~ */

.main-menu {
    font-size: 8vmin;
    text-align: left;
    position: relative;
}


.main-menu__circle {
    left: -8vmin;
    transform: translate(0, 15%);
}

.main_menu__link {
    position: relative;
}

.main-menu__element {
    margin: 20px 0;
}

.main-menu__element_with-padding {
    margin-top: 72px;
}

.main-menu__circle_second {
    left: -15vmin;
}

/* ~~~~ End main menu ~~~~ */

/* ~~~~ User form ~~~~ */
.user-form {
    max-height: 50vh;
    padding: 2vmin;
    padding-left: 4vmin;
    padding-right: 4vmin;
}

.user-form label {
    font-size: 3vmin;
    text-align: center;
}

.user-form__field_with-label {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.user-form__field {
    position: relative;
    margin-bottom: 2vmin;
}

.user-form__error {
    font-size: 22px;
    color: #f00;
}

.user-form__error_main {
    text-align: center;
    margin-bottom: 1vmin;
}

.user-form__field .error {
    font-size: 1.8vmin;
}

.user-form__input-block {
    border-radius: 1vmin;
    background: #fff;
    border: none;
    box-shadow: 0 0 5px rgba(30, 30, 30, 0.5) inset;
    padding: 1.3vmin;
    font-size: 2vmin;
    font-family: 'Quantico', sans-serif;
    width: 100%;
}

.user-form__input-block[readonly] {
    background: transparent;
    box-shadow: none;
    color: #1a1a1a;
}

.user-form__button {
    background: #305A9D;
    border-bottom: none;
    border-top: none;
    border-left: #293955 solid 1vmin;
    border-right: #293955 solid 1vmin;
    border-radius: 3vmin;
    height: 6vmin;
    width: 16vmin;
    font-family: 'Quantico', sans-serif;
    font-size: 3vmin;
    color: #fff;
    position: relative;

    left: 50%;
    transform: translate(-50%, 0);
}
/* ~~~~ End User form ~~~~ */

/* ~~~~ Misc ~~~~ */
.clear { clear: both; }

.hidden {
    display: none;
}

.score {
    font-size: 4vmin;
    text-align: center;
    padding: 2vmin;
}
/* ~~~~ End Misc ~~~~ */

/* ~~~~ Ledaerboard start ~~~~ */
.leaderboard {
    display: grid;
    grid-template-columns: 3fr 7fr;
    max-height: 50vh;
    padding: 3vmin;
    font-size: 2vmin;
}

.leaderboard__header {
    font-weight: bold;
    text-align: left;
    background: #ddd;
    padding: 10px;
}

.leaderboard__username {
    padding: 8px;
    background: #ddd;
}

.leaderboard__body {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 3fr 7fr;
}


.leaderboard__score {
    background: #eee;
    padding: 8px;
}

.leaderboard__pagination {
    text-align: center;
    padding-bottom: 3vmin;
    font-size: 3vmin;
}

.leaderboard__pagination__button {
    display: inline;
}
/* ~~~~ Infoblock ~~~~ */

.infoblock {
    width: 300px;
    position: fixed;
    right:0;
    top:0;
    opacity: 0.8;
    padding-right: 10px;
}

.infoblock__info {
    margin-top: 10px;
    min-height: 50px;
    border: 2px solid #20a4d6;
    background: #36ccd4;
    border-radius: 10px;
    padding: 8px;
    color:#000
}

.infoblock__info_warn {
    border-color: #f5c411;
    background: #fff45a;
}

.infoblock__info_error {
    border-color: #CA2424;
    background: red;
}
