/* ~~~~ Header block ~~~~ */
.header {
  width: $main-width-content;
  height: 40vmin;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  font-size: 25vmin;
  
  &_page { // modification
    height: 32vmin;
    font-size: 22vmin;
  }
  
  &__logo {
    @include circle-geometry($main-width-content);
    background: #1a1a1a;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
  }
  
  &__name {
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__desc {
    color: #fff;
    font-size: 5vmin;
    top: 20vmin;
    position: absolute;
    left: 3%;
  }
}