.leaderboard {
    border-collapse: initial;
    border-bottom: 5px #355FA2 solid;
    border-top: 5px #355FA2 solid;
    border-radius: 40px;
    background: transparent;
    width: 800px;
    padding: 20px;
    font-size: 26px;
}

.leaderboard table {
    width: 100%;
}

.leaderboard th {
    font-weight: bold;
    text-align: left;
    background: #ddd;
    padding: 10px;
}

.leaderboard th.username {
    width: 30%;
}

.leaderboard th.score {
    width: 70%;

}

.leaderboard td {
    background: #eee;
    padding: 8px;
}
