/* ~~~~ Leaderboard start ~~~~ */
.leaderboard {
  display: grid;
  grid-template-columns: 2vmin 1fr 1fr;
  max-height: 50vh;
  padding: 3vmin;
  font-size: 4vmin;

  @media (min-aspect-ratio: 2/3) {
    font-size: 3vmin;
  }

  @media (min-aspect-ratio: 16/9), (orientation: landscape) {
  }
  
  &__header {
    font-weight: bold;
    text-align: center;
    padding: 1.2vmin;
  }
  
  &__username {
    padding: 1vmin;
    text-align: center;
  }

  &__body {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 2vmin 1fr 1fr;
  }

  &__score {
    padding: 1vmin;
    text-align: center;
  }

  &__place {
    padding: 1vmin;
    text-align: center;
  }

  &__pagination {
    text-align: center;
    padding-bottom: 3vmin;
    font-size: 6vmin;

    @media (min-aspect-ratio: 2/3) {
      font-size: 3vmin;
    }

    @media (min-aspect-ratio: 16/9), (orientation: landscape) {
    }
  }
}

.pagination {
  &__button {
    display: inline;
  }
}