/* ~~~~~ Main menu ~~~~~~ */
.main-menu {
  font-size: 10vmin;
  text-align: left;
  position: relative;
  user-select: none;

  &__circle {
    position: relative;
    margin-right: 1vmin;
  }

  &__menu-link {
    position: relative;
    margin-bottom: 2vmin;
    display: grid;
    grid-template-columns: 16vmin 1fr;
    opacity: 0.7;
    transition: opacity 0.5s, transform 1s;
    transition-timing-function: ease;

    &:hover {
      opacity: 1;
    }

    &:focus {
      transform: scale(1.1);
    }

    &_not-login {
      filter: grayscale(100%);
      opacity: 0.5;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  @media (min-aspect-ratio: 2/3) {
    font-size: 8vmin;
  }
}

.menu-link__pic {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.menu-link__desc {
  &_leaderboard {
    grid-column-start: 2;
  }
}