/* ~~~~~ Main menu ~~~~~~ */
.main-menu {
  font-size: 8vmin;
  text-align: left;
  position: relative;
  
  &__circle {
    left: -8vmin;
    transform: translate(0, 15%);

    &_second {
      left: -15vmin;
    }
  }
  
  &__link {
    position: relative;
  }

  &__element {
    margin: 20px 0;

    &_with-padding {
      margin-top: 72px;
    }
  }
}