/* ~~~~ Navigation block ~~~~ */
$space: 3vmin; // зазор между блоком заголовка и кнопкой

@mixin position-rotation($d, $angle) {
  height: ($main-width-content / 2 + $space + $d * 3 / 2);
  transform: rotate($angle);
  transform-origin: top;
}

@mixin circle-derotate($angle) {
  transform: translate(-50%, -50%) rotate($angle);
}

@mixin circle-constructor($name, $d, $color, $angle, $hover-color: $color) {
  &__link {
    &_#{$name} {
      @include position-rotation($d, $angle);
    }
  }

  &__circle {
    &_#{$name} {
      @include circle-geometry($d);
      @include circle-derotate(-$angle);
      border-radius: $d * 1.1;
      background: $color;
      transition: background-color 1s, width 1s, height 1s;
      transition-timing-function: ease;
      bottom: 0;
    }

    &_#{$name}:hover {
      width: $d * 1.1;
      height: $d * 1.1;

      background-color: saturate($color, 50%);
    }


  }
}

$circle-small-width-size-medium: 20vmin;
$circle-small-width-size-big: 25vmin;

$circle-medium-width-size-small: 15vmin;
$circle-medium-width-size-medium: 18vmin;
$circle-medium-width-size-big: 20vmin;

.navigation {
  position: absolute; // from the top of the document
  top: 30vmin;
  left: 50%;
  transform: translate(-50%, 0);
  
  &__link {
    position: absolute; // one origin for all links
  }
  
  &__circle {
    position: absolute; // positioning from the bottom of wrapping div
  }

  @include circle-constructor("about",    $circle-small-width-size-big,    $circle-color-sea-blue,  30deg);
  @include circle-constructor("profile",  $circle-small-width-size-big,    $circle-color-red,       -30deg);
  @include circle-constructor("signup",   $circle-small-width-size-big,    $circle-color-red,       -30deg);
  @include circle-constructor("signup-page",   $circle-small-width-size-big,    $circle-color-red,   30deg);
  @include circle-constructor("login",    $circle-small-width-size-medium, $circle-color-green,     0deg);
  @include circle-constructor("login-page",    $circle-small-width-size-medium, $circle-color-green, 30deg);
  @include circle-constructor("logout",   $circle-small-width-size-medium, $circle-color-grey,      -30deg);
  @include circle-constructor("return",   $circle-small-width-size-medium, $circle-color-grey,      -30deg);
  @include circle-constructor("back",   $circle-small-width-size-medium, $circle-color-grey,      -85deg);

  @media (min-aspect-ratio: 2/3) {
    top: 5vmin;
    @include circle-constructor("about",    $circle-size-medium,  $circle-color-sea-blue,  45deg);
    @include circle-constructor("profile",  $circle-size-big,     $circle-color-red,      -45deg);
    @include circle-constructor("signup",   $circle-size-big,     $circle-color-red,      -45deg);
    @include circle-constructor("signup-page",   $circle-size-big,    $circle-color-red,   45deg);
    @include circle-constructor("login",    $circle-size-small,   $circle-color-green,    -25deg);
    @include circle-constructor("login-page",    $circle-size-big, $circle-color-green,  45deg);
    @include circle-constructor("logout",   $circle-size-small,   $circle-color-grey,     -25deg);
    @include circle-constructor("return",   $circle-size-small,   $circle-color-grey,     -45deg);
    @include circle-constructor("back",   $circle-size-small,   $circle-color-grey,     -85deg);
  }

  @media (min-aspect-ratio: 16/9), (orientation: landscape) {
    top: 0;
    @include circle-constructor("about",    $circle-size-medium,  $circle-color-sea-blue,  65deg);
    @include circle-constructor("profile",  $circle-size-big,     $circle-color-red,      -65deg);
    @include circle-constructor("signup",   $circle-size-big,     $circle-color-red,      -65deg, #999);
    @include circle-constructor("signup-page",   $circle-size-big,     $circle-color-red,      65deg);
    @include circle-constructor("login",    $circle-size-small,   $circle-color-green,    -40deg);
    @include circle-constructor("login-page",    $circle-size-big,   $circle-color-green,    65deg);
    @include circle-constructor("logout",   $circle-size-small,   $circle-color-grey,     -40deg);
    @include circle-constructor("return",   $circle-size-small,   $circle-color-grey,     -65deg);
    @include circle-constructor("back",   $circle-size-small,   $circle-color-grey,     -85deg);
  }
}
