/* ~~~~ User form ~~~~ */
.user-form {
  max-height: 50vh;
  padding: 5vmin;
  padding-left: 4vmin;
  padding-right: 4vmin;

  @media (min-height: 700px) {
    padding-top: 4vmin;
    padding-bottom: 4vmin;
  }

  label {
    font-size: 3vmin;
    text-align: center;
  }

  &__field {
    position: relative;
    margin-bottom: 2vmin;

    &_with-label {
      display: grid;
      grid-template-columns: 3fr 7fr;
    }

    .error { // not-BEM because of selectors
      font-size: 1.8vmin;
    }
  }

  &__error {
    font-size: 22px;
    color: #f00;

    &_main {
      text-align: center;
      margin-bottom: 1vmin;
    }
  }

  &__input-block {
    border-radius: 1vmin;
    background: #fff;
    border: none;
    box-shadow: 0 0 5px rgba(30, 30, 30, 0.5) inset;
    padding: 1.3vmin;
    font-size: 4vmin;
    font-family: 'Quantico', sans-serif;
    width: 100%;

    [readonly] {
      background: transparent;
      box-shadow: none;
      color: #1a1a1a;
    }

    @media (min-aspect-ratio: 2/3) {
      font-size: 3vmin;
    }

    @media (min-aspect-ratio: 2/3) and (min-height: 700px) {
      font-size: 2vmin;
    }
  }

  &__button {
    background: #305A9D;
    border-bottom: none;
    border-top: none;
    border-left: #293955 solid 1vmin;
    border-right: #293955 solid 1vmin;
    border-radius: 3vmin;
    font-family: 'Quantico', sans-serif;
    font-size: 5vmin;
    color: #fff;
    position: relative;
    
    cursor: pointer;

    left: 50%;
    transform: translate(-50%, 0);

    @media (min-aspect-ratio: 2/3) {
      height: 6vmin;
      width: 16vmin;
      font-size: 3vmin;
    }
  }
}