/* ---- style ---- */

body {
    background: #fff;
    font-family: 'Quantico', sans-serif;
}

.index_header {
    width: 1200px;
    height: 440px;
    /*margin: 0 auto;*/
    overflow: hidden;
    /*position: relative;*/

    position: absolute;
    left: 50%;
    margin-left: -600px;
}

.index_header .logo {
    width: 660px;
    height: 660px;
    border-radius: 380px;
    background: #1a1a1a;
    position: relative;
    top: -260px;
    margin: 0 auto;
}

.index_header .name {
    color: #fff;
    font-size: 144pt;
    position: absolute;
    top: 420px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page_header {
    width: 1200px;
    height: 440px;
    /*margin: 0 auto;*/
    overflow: hidden;
    /*position: relative;*/

    position: absolute;
    left: 50%;
    margin-left: -600px;
}

.page_header .logo {
    width: 660px;
    height: 660px;
    border-radius: 380px;
    background: #1a1a1a;
    position: relative;
    top: -380px;
    margin: 0 auto;
}

.page_header .name {
    color: #fff;
    font-size: 144pt;
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page_header .desc {
    color: #fff;
    font-size: 24pt;
    position: absolute;
    top: 550px;
    left: 140px;
}



.circle {
    color: #fff;
    font-size: 52px;
    text-align: center;
    position: absolute;
}

.circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle.small {
    width: 82px;
    height: 82px;
    font-size: 20px;
    border-radius: 41px;
}

.circle.tiny {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 25px;
}

.circle.medium {
    width: 164px;
    height: 164px;
    font-size: 36px;
    border-radius: 82px;
}

.circle.little_medium {
    width: 124px;
    height: 124px;
    font-size: 26px;
    border-radius: 62px;
}

.circle.big {
    width: 214px;
    height: 214px;
    border-radius: 107px;
}

.circle.big .avatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle.red      { background: #CA2424 }
.circle.blue     { background: #275CD9 }
.circle.orange   { background: #FF8408 }
.circle.sea_blue { background: #169DA4 }
.circle.green    { background: #43AC4C }
.circle.grey     { background: #aaaaaa }

.index_nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#about_link {
    top: 280px;
    right: 260px;
}

#signin_link {
    top: 200px;
    left: 320px;
}

#profile_link {
    top: 200px;
    left: 320px;
}

#profile_link.page {
    top: 170px;
    left: 290px;
}

#profile_link.profile {
    top: 310px;
    left: 0;
    transform: translate(-50%, 0);
}

#login_link, #logout_link {
    top: 350px;
    left: 230px;
}

#login_link.page, #logout_link.page {
    top: 220px;
    left: 200px;
}

#return_link {
    top: 170px;
    left: 260px;
}

#settings_link {
    top: 260px;
    right: 130px;
}

.index_content {
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translate(-50%, 0);
}

.page_content {
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translate(-50%, 0);
}

.profile_content {
    position: absolute;
    top: 530px;
    left: 50%;
    transform: translate(-50%, 0);
}

.main_menu {
    font-size: 62px;
    text-align: right;
    position: relative;
    left: 0;
}

.main_menu li {
    margin: 20px 0;
}

.main_menu .with_padding {
    margin-top: 72px;
}

.circles_place {
    display: inline;
    position: absolute;
    right: -20px;
    margin-top: 10px;
}

.circles_place .second {
    left: 55px;
}

.user_form {
    border-bottom: 5px #355FA2 solid;
    border-top: 5px #355FA2 solid;
    border-radius: 40px;
    background: transparent;
    width: 600px;
    padding: 20px;
}

.user_form fieldset {
    position: relative;

    margin-bottom: 20px;
    width: 500px;
    left: 50%;
    transform: translate(-50%, 0);
}

.user_form .error {
    font-size: 22px;
    color: #f00;
}

.user_form fieldset .error {
    font-size: 16px;
}

.input_block {
    width: 100%;

    border-radius: 5px;
    background: #fff;
    border: none;
    box-shadow: 0 0 5px rgba(30, 30, 30, 0.5) inset;
    padding: 12px;
    font-size: 22px;
    margin-bottom: 10px;
    font-family: 'Quantico', sans-serif;
}

.profile_input {
    width: initial;

    border-radius: 5px;
    background: #fff;
    border: none;
    box-shadow: 0 0 5px rgba(30, 30, 30, 0.5) inset;
    padding: 12px;
    font-size: 22px;
    margin-bottom: 10px;
    font-family: 'Quantico', sans-serif;
}

.profile_input[readonly] {
    background: transparent;
    box-shadow: none;
    color: #1a1a1a;
}

.error.main {
    width: 100%;
    text-align: center;
    margin: 8px;
}

button.submit {
    background: #305A9D;
    border-bottom: none;
    border-top: none;
    border-left: #293955 solid 6px;
    border-right: #293955 solid 6px;
    border-radius: 30px;
    height: 60px;
    width: 150px;
    font-family: 'Quantico', sans-serif;
    font-size: 22px;
    color: #fff;
    position: relative;

    left: 50%;
    transform: translate(-50%, 0);
}



.avatar {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.clear { clear: both; }

.leaderboard {
    border-collapse: initial;
    border-bottom: 5px #355FA2 solid;
    border-top: 5px #355FA2 solid;
    border-radius: 40px;
    background: transparent;
    width: 800px;
    padding: 20px;
    font-size: 26px;
}

.leaderboard table {
    width: 100%;
}

.leaderboard th {
    font-weight: bold;
    text-align: left;
    background: #ddd;
    padding: 10px;
}

.leaderboard th.username {
    width: 30%;
}

.leaderboard th.score {
    width: 70%;

}


.leaderboard td {
    background: #eee;
    padding: 8px;
}

.hidden {
    display: none;
}

.score {
    font-size: 32px;
    text-align: center;
}

.profile_avatar {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px rgba(30, 30, 30, 0.5   );
    border-radius: 100px;
    display: block;
    margin-top: 20px;
}

.pagination {
    text-align: center;
}

.pagination li {
    display: inline;
}