<div class="game-header__circle">
    <a class="game-header__link" href="/" data-href="/">
        Left game
    </a>

    <div class="game-header__decsription">
        <div class="description__player js-game-status">
            <div class="player__name">{{first.username}}</div>
            <div class="player__score">you draw</div>
        </div>
    </div>
</div>
