<div class="game-footer__circle">
    <div class="game-footer__decsription">
        <!--horisontal flexbox-->

        <div class="description__player js-player-first">
            <div class="player__name">{{first.username}}</div>
            <div class="player__score">{{first.score}}</div>
            <!--vertical inline flexbox-->
        </div>

        <div class="description__vs">
            vs.
        </div>

        <div class="description__player js-player-second">
            <div class="player__name">{{second.username}}</div>
            <div class="player__score">{{second.score}}</div>
            <!--vertical inline flexbox-->
        </div>
    </div>
</div>