<div class="game-footer__circle">
    <div class="game-footer__decsription">
        <!--horisontal flexbox-->

        <div class="description__status js-player-first">
            <div class="status__header">{{players.first.username}}</div>
            <div class="status__desc">{{players.first.score}}</div>
            <!--vertical inline flexbox-->
        </div>

        <div class="description__vs">
            vs.
        </div>

        <div class="description__status js-player-second">
            <div class="status__header">{{players.second.username}}</div>
            <div class="status__desc">{{players.second.score}}</div>
            <!--vertical inline flexbox-->
        </div>
    </div>
</div>